{% extends 'base.html' %}

{% block content %}
<div class="media">
  {% for post in display_post.items %}
  <article class="media content-section">
    <div class="media-group sh_post" style="border-bottom: 1px solid grey;">
      <a href="/articles/{{post['post_id']}}">
        <span class="h2">{{ post['post_title'] | safe }}<span>
      </a>
      <span class="text-muted" style="float: right;">{{ post['date_posted'] | safe}}</span>
    </div>
    <!--<div style="width: max-content;">
      <img src="/static/posts/{{ post['cover_image']}}">
    </div>-->
    <div class="media-group show_content">
      <article>
        <p class="lead">{{ post['post_content'] | safe}}</p>
      </article>
    </div>
  </article>
  {% for com in display_comment %}
  {% if post.post_id == com.comment_post_id %}
  <article class="media content-section">
    <div>
      <span style="border-bottom: 1px solid grey;">commented on {{ com['date_commented'] }}</span>
      <article>
        <p>{{ com['comment'] | safe}} </p>
      </article>
    </div>
  </article>
  {% endif %}
  {% endfor %}
  <div>
    <form class="form-group" id="commentform" action="{{ url_for('addcomment') }}" method="POST"
      style="margin-left: 20%;margin-right: 20%;">
      <input type="hidden" name='postkey' value="{{post['post_id']}}">
      <label class="control-label">COMMENT</label>
      <textarea class="form-control" name="comment" id="comment" required></textarea><br>
      <input type="submit" class="btn btn-info" name="ADD COMMENT" value="ADD COMMENT">
    </form>
  </div>
  {% endfor %}
</div>
<div>
  {% for page_num in display_post.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
  {% if page_num %}
  {% if display_post.page == page_num %}
  <a class="btn btn-info mb-4" href="{{ url_for('articles',page=page_num) }}">{{ page_num }}</a>
  {% else %}
  <a class="btn btn-outline-info mb-4" href="{{ url_for('articles',page=page_num) }}">{{ page_num }}</a>
  {% endif %}
  {% else %}
  ...
  {% endif %}
  {% endfor %}
</div>
{% endblock %}