{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-10">
      {% for post in display_post %}
      <div class="show_post">
        <span>
          <h2>{{ post['post_title'] | safe }} </h2>
          <h6>{{ post['date_posted'] | safe}}</h6>
        </span>
        <div class="show_content">
          <p>{{ post['post_content'] | safe}} </p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-sm-2 categories">
      <span class="border border-primary">
        <h4><a href="/IoT">IoT</a></h4>
        <h4><a href="/Software">Sofware</a></h4>
        <h4><a href="/General">General</a></h4>
        <h4><a href="/Others">Others</a></h4>
      </span>
    </div>
  </div>
</div>
{% endblock %}