{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3 style="text-align: center;">Software</h3>
            <div id="softCarousel" class="carousel slide" data-ride="carousel" style="height: 300px; width: 500px;">
                <div class="carousel-inner">
                    {% for p in soft %}
                    {% if p['post_category'] == 'Software' %}
                    <div class="item {% if loop.index == 1 %} active {% endif %}">
                        <a href="/{{p['post_id']}}"><img src="/static/posts/{{ p['cover_image']}}" alt="IoT"></a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#softCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#softCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <h3 style="text-align: center;">IoT</h3>
            <div id="ICarousel" class="carousel slide" data-ride="carousel" style="height: 300px; width: 500px;">
                <div class="carousel-inner">
                    {% for p in iot %}
                    {% if p['post_category'] == 'IoT' %}
                    <div class="item {% if loop.index == 1 %} active {% endif %}">
                        <a href="/{{p['post_id']}}"><img src="/static/posts/{{ p['cover_image']}}" alt="IoT"></a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#ICarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#ICarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3 style="text-align: center;">General</h3>
            <div id="gCarousel" class="carousel slide" data-ride="carousel" style="height: 300px; width: 500px;">
                <div class="carousel-inner">
                    {% for p in gen %}
                    {% if p['post_category'] == 'General' %}
                    <div class="item {% if loop.index == 1 %} active {% endif %}">
                        <a href="/{{p['post_id']}}"><img src="/static/posts/{{ p['cover_image']}}" alt="General"></a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#gCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#gCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <h3 style="text-align: center;">Life</h3>
            <div id="lCarousel" class="carousel slide" data-ride="carousel" style="height: 300px; width: 500px;">
                <div class="carousel-inner">
                    {% for p in life %}
                    {% if p['post_category'] == 'Life' %}
                    <div class="item {% if loop.index == 1 %} active {% endif %}">
                        <a href="/{{p['post_id']}}"><img src="/static/posts/{{ p['cover_image']}}" alt="Life"></a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#lCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#lCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}