{% extends 'base.html' %}
{% block content %}
    <h2 style="text-align: center;">Posts Under the {{ cat }} category</h2>
    {% for post in display_post %}
    <div class="row">
        <div class="show_post">
            <span>
              <h2>{{ post['post_title'] | safe }} </h2>
              <h6>{{ post['date_posted'] | safe}}</h6>
            </span>
            <div class="show_content">
              <p>{{ post['post_content'] | safe}} </p>
            </div>
          </div>
    </div>
    {% endfor %}
{% endblock %}